$def with (article)

<div class="blog-post">
    <div class="blog-comment">
        <p class="p1">评论列表</p>
        <hr></hr>
        $for i in range(0, len(article['comment_list'])):
        <div>
            <div>
                <span class="p2">$article['comment_list'][i]['usrname']（来自$article['comment_list'][i]['usraddr']的网友）</span>
                <span style="float:right;">#$(i+1) 楼</span>
            </div>
            <div>
                <p class="p3">$:article['comment_list'][i]['comment']</p>
            </div>
            <div class="p2">
                <span>$article['comment_list'][i]['date']</span>
                <span><a class="reply" id="id_reply" href="#id_comment" onclick="reply($(i+1),'$article['comment_list'][i]['usrname']')">回复</a></span>
            </div>

            <hr></hr>
        </div>
    </div>
</div>

$:render.post_comment(article)

<script>

    function reply(id, name)
    {
        document.getElementById("id_comment").value = "回复#"+id+"楼 [ @"+name+" ]：";
    }
</script>