$def with (article)
<!DOCTYPE html>
<html lang='zh'>
    $:render.layout.header('二维码在线生成|支持添加图标')
<body>
    $:render.layout.navbar()
    <div class="qrcode">
        <div class="qrcode-up">
            Tips: 在线二维码生成，支持在二维码中间添加图标。当不上传文件时生成原始二维码
        </div>
        <div class="qrcode-down">
            <div class="left qrcode-down-left">
                <form method="POST" action="/qrcode/$article['img_name']" enctype="multipart/form-data">
                    <textarea id="left" name="text" maxlength="100">$article['text']</textarea>
                    <br>
                    <div class="qrcode-upload-file">
                        <input type="file" name="myfile"/>
                        <button type="button">上传文件(.png/.ico/.jpg/.bmp) &lt;=1M</button>
                    </div>
                    <br>
                    <button type="submit">生成二维码</button>
                </form>
            </div>
            <div>
                $:article['img']
            </div>
        </div>
    </div>
</body>
</html>
