$def with (article)
<!DOCTYPE html>
<html lang='zh'>
    $:render.layout.header(article['title'])
<body>
    $:render.layout.navbar()
    <div class="blog">
        <div class="blog-post">
            <form action="search" id="usrform">
                <div class="blog-post-key">
                    <input type="text" name="key" />
                    <button type="submit">搜索</button>
                </div>
            </form><br>
        </div>
        <div class="blog-post">
            <div class="search-post">
                $:article['content']
            </div>
        </div>

        <script>
          (function() {
            var cx = '014645824648449996593:qteeybcb0e4';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>

    </div>
    $:render.layout.footer()
</body>
</html>

