<div id="footer">
    <div class="blog-footer">
        <li>
            <a href="http://www.qjwgg.com/sitemap.xml" title="sitemap.xml">Õ¾µãµØÍ¼</a> | Blog of <a href="http://www.qjwgg.com/" title="Çë½ÐÎÒ¹Å¹Ö">qjwgg</a> | Power by <a href="http://webpy.org/" title="http://webpy.org/">web.py</a> | Copyright &copy <a href="mailto:qjwgg_guguai@163.com?subject=Hello%20guguai" title="Email to me.">guguai</a> 2014. <a href="https://github.com/qjwgg/qjwgg" title="link to my GitHub project."><img src="/static/img/GitHub-Mark-32px.png"></a>
        </li>
    </div>
</div>
<script src="/static/highlight/highlight.pack.js"></script>
<script >hljs.initHighlightingOnLoad();</script>

<script>
    $$(document).ready(initPage);

    function initPage()
    {
        $$(document).tooltip({
            track: true
        });
    }
</script>