<div id="footer">
    <div class="blog-footer">
        <li>
            <a href="http://www.qjwgg.com/sitemap.xml" title="sitemap.xml">站点地图</a> | Blog of <a href="http://www.qjwgg.com/" title="请叫我古怪">qjwgg</a> | Power by <a href="http://webpy.org/" title="http://webpy.org/">web.py</a> | Copyright &copy <a href="mailto:qjwgg.guguai@gmail.com?subject=Hello%20guguai" title="Email to me.">guguai</a> 2014. <a href="https://github.com/qjwgg/qjwgg" title="link to my GitHub project."><img src="/static/img/GitHub-Mark-32px.png"></a>
        </li>
    </div>
</div>
<script src="/static/highlight/highlight.pack.js"></script>
<script >hljs.initHighlightingOnLoad();</script>

<script>
    //imgs = document.getElementsByTagName("img");
    imgs = document.images;
    //imgs[0].onclick = function(){TINY.box.show({image:imgs[0].src,boxid:'frameless',animate:true,openjs:function(){openJS()}})};
    for (var i=0; i<imgs.length; i++ )
    {
        _script = "<script>imgs["+i+"].onclick = function(){TINY.box.show({image:imgs["+i+"].src,boxid:'frameless',animate:true,openjs:function(){openJS()}})};<\/script>";
        document.write(_script);
    }

    hrefs = document.getElementsByTagName("a");
    for (var j=0; j<hrefs.length; j++ )
    {
        href = hrefs[j].href;

        if (href.search("http://www.qjwgg.com") == -1)
        {
            hrefs[j].target = "_blank";
        }
    }

</script>