$def with (title)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link href="/static/css/blog.css" rel="stylesheet"/>
    <link href="/static/highlight/styles/googlecode.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <title>$title</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
</head>
