$def with (title)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="4SQgoVpbQgHAWFmsTi2RI9y_sNv_-vkxhR13vWwuXng" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link href="/static/css/blog.css" rel="stylesheet"/>
    <link href="/static/css/emacs.css" rel="stylesheet"/>
    <!-- <link href="/static/highlight/styles/googlecode.css" rel="stylesheet"> -->
    <title>$title</title>
    <script src="/static/js/tinybox.js"></script>
    <script src="/static/highlight/highlight.pack.js"></script>
    <!-- <script >hljs.initHighlightingOnLoad();</script> -->
</head>
